/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: text;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.page {
  width: 100%;
  height: 100%;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.so {
  position: absolute;
}

.scale-box {
  position: absolute;
  left: 0;
  top: 0;
}

.play .scale-box {
  /* top: -500px; */
}

.share-page {
  display: none;
}

.phone-r .close-video {
  top: auto;
  left: auto;
  bottom: 50px;
  right: 20px;
}

@keyframes roatAni {
  0%{
      transform: rotate(360deg) scale(0.01);
      opacity: 0;
      }
  25%{
      transform: rotate(0deg) scale(1);
      opacity: 1;
      }
  75%{
      transform: rotate(0deg) scale(1);
      opacity: 1;
      }
  85%{
    opacity: 0;
  }
  100%{
      transform: rotate(-360deg) scale(10);
      opacity: 0;
  }
}

.roat {
  animation: roatAni 4s 1 0s linear;
  animation-fill-mode: forwards;
}

.blinker-box-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}
.blinker-box-2 .show {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 90%;
}
.blinker-box-2 .close {
  position: absolute;
  right: 60px;
  top: 20px;
}
video {
  object-fit:fill;
}